NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000/ws/issues
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=wikipulse-dev-secret
KEYCLOAK_ID=wikipulse-frontend
KEYCLOAK_SECRET=your-client-secret
KEYCLOAK_ISSUER=http://keycloak:8080/realms/wikipulse
