KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=wikipulse
KEYCLOAK_CLIENT_ID=wikipulse-api
REDIS_URL=redis://redis:6379
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_GROUP_ID=service-team
AWS_REGION=ap-northeast-2
LAMBDA_FUNCTION_NAME=wikipulse-alert
USE_MOCK=true
